body{
	text-align: center;
	background-color: beige;
	margin-top: 80px;
}

h1{
	text-transform: uppercase;
	font-family: cursive;
}

.btn{
	background-color: black;
	border: none;
	color: #cc0000;
	font-family: 'Montserrat';
	font-size: 20px;

	border-radius: 20px;
	width: 268px;
	height: 60px;
}

.ataques{
	margin-top: 50px;
}

.posion{
	margin-top: 10px;
}

.enemigo{
	margin-top: 10px;
}